{% extends 'purse/base.html' %}
{% load i18n %}

{% block contenido %}
	<div id="editdata_user_form" class="forms">
	<h2>{% trans "Edit your data" %}</h2>
	<form method="post" action="{% url 'purse:editdata_user' pk=user.pk %}">
		{% csrf_token %}
		<p><label>{% trans "Name" %} <input type="text" name="first_name" value="{{ user.first_name }}" required /></label></p>
		<p><label>{% trans "Last name" %} <input type="text" name="last_name" value="{{ user.last_name }}" required /></label></p>
		<p><label>{% trans "e-mail" %} <input type="text" name="email" value="{{ user.email }}" required /></label></p>
		<p><label>{% trans "Show inactive purses" %} <input class="forms_checkbox" type="checkbox" name="showinactive" value="showinactive" {% if userconfig.showinactive %}checked="checked"{% endif %} /></label></p>
		<p><input type="submit" value='{% trans "Send changes" %}' /></p>
	</form>
		<h3>{% trans "Other actions" %} </h3>
	<p>
	<form method="redirect" action="{% url 'purse:changepass_user' pk=user.pk %}">
		{% csrf_token %}
		<p>
		<input type="submit" value='{% trans "Change your password" %}'/>
		<input type="button" value='{% trans "Back" %} ' onclick="javascript: history.go(-1)" />
		</p>
	</form>
	</p>
	</div>
{% endblock %}