{% extends 'purse/base.html' %}
{% load static %}
{% load i18n %}
{% block contenido %}
<div class="">
<h2>{% trans 'Delete this expense?' %}</h2>

{% include 'purse/includes/expense_detail.html' %}

	<form method="post" action="{% url 'purse:expenses_delete' pk=expense.pk %}">
		{% csrf_token %}
	<!-- {{ form.as_p }} -->	
<p>
	<input type="submit" value="{% trans 'Delete Expense' %}" />
</p>
	</form>
<br>
<p>
<input type="button" value="Back" onclick="javascript: history.go(-1)" />
</p>
</div>

{% endblock %}