{% extends 'purse/base.html' %}
{% load static %}
{% load i18n %}
{% block contenido %}

<div class="">
<h2>{% trans 'Export information'%}</h2>

{% if page.paginator.count %}
<p>
{% blocktrans with apurse=purse.name count acount=page.paginator.count %}
There is one expense to export in {{ apurse }}.
{% plural %}
There are {{ acount }} expenses to export in {{ apurse }}.
{% endblocktrans %}
</p>


<table>
{% for expense in page %}
	<tr class="exported_{{ expense.exported }}">
	<td class="table_date"><a href="{% url 'purse:expenses_modify' pk=expense.pk %}">{{ expense.date|date:'D d/M' }}</a></td>
	<td class="table_wording"><a href="{% url 'purse:expenses_modify' pk=expense.pk %}">{{ expense.wording }}</a></td>
	<td class="table_sum {% if expense.amount > 0 %}positive{% endif %}"><a href="{% url 'purse:expenses_modify' pk=expense.pk %}">{{ expense.amount }}</a></td>
	<td class="table_option"><a href="{% url 'purse:expenses_delete' pk=expense.pk %}?next={% url 'purse:expenses' pk=expense.account.pk %}">
	<img class="icons" src="{% static '/purse/images/i-delete.png' %}" alt=""></a>
	{% if expense.image %}
	<a href="{% url 'purse:expenses_image' pk=expense.pk %}"><img class="icons" src="{% static 'purse/images/i-image.png' %}" alt="" ></a>
	{% endif %}
	</td>
	</tr>
{% endfor %}
</table>

{% if page.paginator.num_pages > 1  %}
	{% include 'purse/includes/paginator_controls.html' %}
{% endif  %}


<p>{% trans 'Are you ready to get your CSV file?' %}</p>

	<form method="post" action="{% url 'purse:expenses_export' pk=purse.pk %}">
		{% csrf_token %}
		<!-- {{ form.as_p }} -->
		<p>
		<input type="submit" value="{% trans 'Yes, give me my data' %}"/>
		<input type="button" value="{% trans 'Not yet' %}" onclick="javascript: history.go(-1)" />
		</p>
	</form>

<p><a href="{% url 'purse:expenses_mark' pk=purse.pk%}">{% trans "This expenses won't be marked as exported, untill you press here. So be sure you have your CSV file and press here to mark all expenses as exported." %}</a></p>
{% else %}
<p>{% trans "There are no expenses to export" %}</p>
<a href="{% url 'purse:welcome' %}" >OK</a>

{% endif %}

{% endblock %}