{% extends 'purse/base.html' %}
{% load static %}
{% block contenido %}
<ul>
	<li><a href="{% url 'purse:welcome' %}?next=purses">Close this purse</a></li>
	<li><a href="{% url 'purse:modify_purse' pk=purse.pk%}">Config this purse</a></li>
</ul>
<div style="background :{{ purse.color }}" >
<h1>Expenses for {{ purse.name }}</h1>
	<form method="post" action="{% url 'purse:expenses' pk=purse.pk%}">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Add this expense"/>
	</form>
<p>Your purse balance is {{ purse.cuantity }} {{ purse.currency }}

<ul>
{% for expense in expenses %}
	<li>
	{{ expense.date }} | {{ expense.wording }} | {{ expense.amount }}
	| 
	<a href="{% url 'purse:expenses_modify' pk=expense.pk %}">modify</a>
	| 
	<a href="{% url 'purse:expenses_delete' pk=expense.pk %}?next={% url 'purse:expenses' pk=purse.pk %}">delete</a>
	</li>
{% endfor %}
</ul>
</div>

{% endblock %}