{% extends 'purse/base.html' %}
{% load static %}
{% block contenido %}
<ul>
	<li><a href="{% url 'purse:welcome' %}?next=purses">Close this purse</a></li>
	<li><a href="{% url 'purse:modify_purse' pk=purse.pk%}">Config this purse</a></li>
</ul>
<div style="background :{{ purse.color }}" >
<h1>Expenses for {{ purse.name }}</h1>
	<form method="post" action="{% url 'purse:expenses' pk=purse.pk%}">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Add this expense"/>
	</form>
<p>
Your purse balance is {{ purse.cuantity }} {{ purse.currency }}<br>
Showing exported expenses
</p>

<ul>
{% for expense in expenses %}
	{% if not expense.exported %}
	<li class="exported_{{ expense.exported }}" >
	{{ expense.date }} | {{ expense.wording }} | {{ expense.amount }}
	| 
	<a href="{% url 'purse:expenses_modify' pk=expense.pk %}">modify</a>
	| 
	<a href="{% url 'purse:expenses_delete' pk=expense.pk %}?next={% url 'purse:expenses' pk=purse.pk %}">delete</a>
	</li>
	{% endif %}
	
	{% if expense.exported and purse.showexported %}
	<li class="exported_{{ expense.exported }}" >
	{{ expense.date }} | {{ expense.wording }} | {{ expense.amount }}
	</li>
	{% endif %}	
{% endfor %}
</ul>
<a href="{% url 'purse:expenses_export' pk=purse.pk %}">Export expenses to CSV</a>


</div>


{% endblock %}