{% extends 'purse/base.html' %}
{% load static %}
{% block contenido %}
<div class="purseslist">
<h1>YOUR PURSES</h1>
<hr>
<p>Here is list of purses to work with</p>
<table>
	{% for purse in purses %}
	<tr>
		<td><a href="{% url 'purse:expenses' pk=purse.pk %}" >{{ purse.name }}</a></td>
		<td class="table_sum"   >{{ purse.cuantity }}{{ purse.currency }}</td>
		<td class="table_option"><a href="{% url 'purse:modify_purse' pk=purse.pk %}"><img class="icons" src="{% static '/purse/images/i-modify.png' %}" alt="">{%if not purse.active %}<img class="icons" src="{% static 'purse/images/i-inactive.png' %}" alt="">{% endif %}</a></td>
	</tr>
	{% endfor %}
</table>


<p>
<a href="{% url 'purse:add_new_purse' %}">
<img class="icons"  src="{% static 'purse/images/i-add.png' %}" alt="add icon">
Add a new purse</a>
</p>
</div>


{% endblock %}