{% extends 'purse/base.html' %}
{% load static %}
{% block contenido %}

<h1>YOUR PURSES</h1>

<h2>manage your purses</h2>
<p>here is list of purses to work with</p>
<ul>
	{% for purse in purses %}
	<li> <a href="{% url 'purse:expenses' pk=purse.pk %}" > {{ purse.name }} | {{ purse.cuantity }}{{ purse.currency }}</a>
	|
	<a href="{% url 'purse:modify_purse' pk=purse.pk %}"> config {%if not purse.active %} (Inactive) {% endif %}</a></li>
	{% endfor %}
</ul>


<p><a href="{% url 'purse:add_new_purse' %}">Add a new purse</a></p>



{% endblock %}