{% extends 'purse/base.html' %}
{% load i18n %}

{% block contenido %}
	<div id="remembermyform" class="forms">
		<h2>{% trans "Fill your user name and your e-mail" %}</h2>
	<p>
	<form method="post" action="{% url 'purse:sendmypassw' %}">
		{% csrf_token %}
		<p><label>{% trans "User name" %}<input type="text" name="username" required="required" /></label></p>	
		<p><label>{% trans "e-mail" %} <input type="email" name="email" value="{{ user.email }}" required="required" /></label></p>
		<p><input type="submit" value='{% trans "Request password reset" %}' /></p>
		<p><input type="button" value='{% trans "Back" %}' onclick="javascript: history.go(-1)" /></p>
	</form>
	</p>
	</div>
{% endblock %}