{% extends 'purse/base.html' %}

{% block contenido %}
	<div id="remembermyform" class="forms">
		<h2>Fill your user name and your e-mail</h2>
	<p>
	<form method="post" action="{% url 'purse:sendmypassw' %}">
		{% csrf_token %}
		<p><label>User name <input type="text" name="username" required="required" /></label></p>	
		<p><label>e-mail <input type="email" name="email" value="{{ user.email }}" required="required" /></label></p>
		<p><input type="submit" value="Request password reset" /></p>
		<p><input type="button" value="Back" onclick="javascript: history.go(-1)" /></p>
	</form>
	</p>
	</div>
{% endblock %}