{% extends 'purse/base.html' %}
{% load static %}
{% load i18n %}
{% block contenido %}
<div class="{{purse.color}}">
<h2>{% trans "Image for the expense" %}</h2>

{% include 'purse/includes/expense_detail.html' %}

	<form method="post" action="{% url 'purse:expenses_image' pk=expense.pk %}">
		{% csrf_token %}
	<!-- {{ form.as_p }} -->	
<p>
	<input type="submit" value="{% trans "Delete Image"%} " />
</p>
	</form>
<br>
<p>
<input type="button" value="{% trans "Back" %}" onclick="javascript: history.go(-1)" />
</p>
</div>

{% endblock %}