{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Password reset</title>
</head>


<body>
<h1>Password reset</h1>

<h2>{{ user.first_name }}, you have rquested to reset your password.</h2>
<p>If you did not start this action, simply ignore this message.</p>
<p>Otherwise, follow this link to reset your password</p>

<div style="text-align: center;">
<a href="http://{{ domain }}{% url 'purse:resetconfirm' uidb64=uid token=token %}" >Reset your password here</a>
</div>

<strong>This is a one time valid link</strong><br>
You can reset your password here again, if you need.
<a href="http://{{ domain }}{% url 'purse:resetmypassw' %} ">here</a>.

<hr>
{% include 'purse/includes/mail_msg_foot.html' %}

</body>
</html>